p,
h1,
h2 {
  margin: 0px;
  padding: 0px;
}
header {
  background-image: url(assets/background-header.png);
  font-family: 'Open Sans', sans-serif;
}
header .logo {
  margin-top: 30px;
}
header .logo-txt1 {
  font-size: 16px;
  margin: 0px;
}
header .logo-txt2 {
  font-size: 16px;
  margin: 0px;
}
header .logo-img {
  height: 4.375em;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
header .telephone-number {
  font-size: 20px;
  margin-top: 40px;
}
header button {
  border-radius: 8px;
  border-style: solid;
  border-width: 0.12em;
  border-color: #ffba15;
  background-color: #ffba15;
  color: white;
  box-sizing: border-box;
  box-shadow: 4px 7px 13px 0px rgba(0, 0, 0, 0.04);
  height: 4.17em;
  font-size: 12px;
  margin-top: 30px;
  margin-left: 10px;
}
header .wall-plaster {
  font-size: 40px;
  margin-top: 12%;
}
header .smooth-walls {
  font-size: 24px;
}
header .cost-of-work {
  background-color: #70c849;
  height: 105px;
  color: white;
  font-size: 18px;
  margin-top: 4%;
}
header .payment-fact {
  font-size: 22px;
}
header .text-area {
  background-color: white;
  height: 410px;
  margin-bottom: 2em;
}
header .headline-text-area {
  font-size: 18px;
}
header .input-button {
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffba15;
  box-sizing: border-box;
  box-shadow: 4px 7px 13px 0px rgba(0, 0, 0, 0.04);
  width: 257px;
  height: 65px;
  background-color: #ffba15;
  color: white;
}
header input {
  border-radius: 8px;
}
header .subtxt {
  font-size: 12px;
}
header .timetable {
  font-size: 12px;
}
.advantages {
  background-color: white;
}
.advantages .advantage {
  font-size: 16px;
}
.advantages .headline-advantage {
  font-size: 18px;
}
.advantages .headline-advantages {
  font-size: 36px;
  margin: 5%;
}
.prices {
  background-color: #236a03;
}
.prices .headline-prices {
  color: white;
  margin: 2%;
  font-size: 36px;
}
.prices .underheadline-prices {
  color: #ffffff;
  font-size: 18px;
  margin-top: -30px;
}
.prices .prices-button {
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #ffba15;
  background-color: #ffba15;
  box-sizing: border-box;
  height: 70px;
  color: #ffffff;
  font-size: 18px;
}
.prices .column {
  margin-top: 60px;
}
.prices .column .fon-color {
  background-color: white;
  height: 660px;
}
.prices .column .column-name {
  font-size: 19px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.prices .column .column-img {
  height: 200px;
}
.prices .column .column-price {
  font-size: 19px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.prices .column .tick {
  font-size: 18px;
  margin: 5px;
}
.prices .column .column-button1,
.prices .column .column-button2,
.prices .column .column-button3 {
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffba15;
  box-sizing: border-box;
  background-color: #ffba15;
  width: 200px;
  height: 70px;
  color: #ffffff;
  font-size: 18px;
}
.prices .column .column-button1 {
  margin-top: 120px;
}
.prices .column .column-button2 {
  margin-top: 55px;
}
.prices .column .column-button3 {
  margin-top: 20px;
}
.opinions .headline-opinions {
  margin-top: 120px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.scheme-of-work {
  background-image: url(scheme-background-icon.png);
}
.scheme-of-work .headline-scheme {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.scheme-of-work .columns .column {
  width: 300px;
  margin-left: 80px;
  margin-top: 60px;
}
.scheme-of-work .columns .column-name {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin-top: 20px;
}
.scheme-of-work .columns .column-text {
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
}
.all-inclusive {
  background-color: #f5f5f5;
}
.all-inclusive .headline-inclusive {
  color: #358015;
  font-size: 48px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}
.all-inclusive .inclusive-icon {
  float: left;
}
.solving-your-problems .problems-headline {
  font-size: 36px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}
.solving-your-problems .problems {
  border-style: solid;
  border-color: #e8e8e8;
  border-width: 2px;
  width: 550px;
  height: 380px;
  float: left;
  margin-left: 17%;
  margin-right: 11%;
  margin-top: 5%;
}
.solving-your-problems .problems-title {
  color: #e8e8e8;
  font-size: 21px;
  text-align: left;
  margin: 25px;
}
.solving-your-problems .solution {
  float: left;
  border-style: solid;
  border-color: #358015;
  border-width: 2px;
  width: 550px;
  height: 380px;
  margin-top: 5%;
}
.solving-your-problems .solution-title {
  font-size: 21px;
  text-align: left;
  margin: 25px;
}
.solving-your-problems .problems-icon {
  position: absolute;
  right: 43%;
}
.materials {
  background-color: #f5f5f5;
}
.h2 {
  margin-top: 100px;
  margin-bottom: 100px;
}
.see-how-we-work {
  background-image: url(assets/how-we-background-icon.png);
}
.see-how-we-work .see-how-we-work {
  font-size: 30px;
  top: 18%;
}
.see-how-we-work .see-how-we-work-text1 {
  font-size: 18px;
  top: 40%;
}
.see-how-we-work .see-how-we-work-text2 {
  font-size: 18px;
  top: 57%;
}
.see-how-we-work .forma .input-button {
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffba15;
  box-sizing: border-box;
  background-color: #ffba15;
  height: 60px;
  color: white;
  font-size: 15px;
  top: 77%;
}
.see-how-we-work .forma .form-text {
  font-size: 15px;
  top: 6%;
}
.see-how-we-work .forma .form-tel {
  color: #565656;
  font-size: 13px;
  top: 50%;
}
.see-how-we-work .forma .form-name {
  color: #565656;
  font-size: 13px;
  top: 25%;
}
.see-how-we-work .forma .input-name {
  top: 33%;
}
.see-how-we-work .forma .input-tel {
  top: 58%;
}
.additional-services {
  background-color: #236a03;
}
.additional-services .additional-services-title {
  color: white;
  font-size: 36px;
}
.additional-services .undertitle-text {
  color: white;
  font-size: 18px;
}
.additional-services .text-area {
  background-color: white;
  height: 410px;
}
.additional-services .headline-text-area {
  font-size: 18px;
}
.additional-services .column-name {
  color: white;
}
.additional-services .button {
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffba15;
  box-sizing: border-box;
  background-color: #ffba15;
  color: white;
}
.additional-services input {
  border-radius: 8px;
}
.additional-services .subtxt {
  font-size: 12px;
}
.contacts {
  color: white;
}
footer {
  color: white;
}
